@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300..700&family=Raleway:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Unbounded:wght@200..900&display=swap');


@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300..700&family=Raleway:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Unbounded:wght@200..900&display=swap');

* {
    padding: 0;
    margin: 0;
    font-family: "Raleway";
    color: black;
    box-sizing: border-box;
    font-size: 1rem;
}

body {
    height: fit-content;
}

.content {
    margin-inline: 100px;
    margin-block: 180px;
}

.breadcrumbs {
    margin-bottom: 30px;
}

a {
    color: black;
    text-decoration: underline 0.5px;
}

.content-wrapper {
    display: flex;
    gap: 100px;
}

aside {
    flex: 10%;
}

aside ul {
    list-style: none;
}

aside a {
    text-decoration: none;
}

aside li {
    display: block;
    padding-block: 20px;
    background-color: #F5F5F5;
    width: 100%;
    padding-left: 20px;
    cursor: pointer;
    transition: 0.5s ease;
}

aside li:hover {
    text-decoration: underline 0.5px;
    font-weight: 500;
}

.sidebar-menu .active {
    margin-bottom:3px;
    box-shadow: 0px 2px 3px rgba(0, 0, 0, 0.3);
}

main {
    flex: 60%;
}

.main-wrapper {
    position: relative;
}

.delivered-list {
    position: absolute;
    width: 100%;
    margin-block: 20px;
}

.main-content ul {
    list-style: none;
    display: flex;
    flex-direction: row;
    gap: 2px;
}

.main-content ul li {
    display:  block;
    padding-block: 10px;
    padding-inline: 20px;
    border-radius: 20px 20px 0 0;
    background: #F5F5F5;
    box-shadow: 0 0px 4px 0px rgba(0, 0, 0, 0.25);
}

.main-content ul li .active {
    font-weight: 600;
}

.product-card {
    display: flex;
    gap: 20px;
    background-color: white;
}

.product-card .product-card__img {
    width: 150px;
    height: auto;
    max-width: 20%;
    cursor: pointer;
}

.product-card__img img {
    width: 100%;
    height: 100%;
}

.product-details__quantity {
    display: flex;
    gap: 10px;
    margin-bottom: 10px;
    justify-content: end;
}


.product-price {
    display: flex;
    gap: 10px;
    margin-bottom: 20px;
    justify-content: end;
}

.product-title {
    margin-left: 40px;
    margin-top: 20px;
    margin-bottom: 10px;
    font-size: large;
    font-weight: 500;
    cursor: pointer;
}

.product-details {
    width: 70%;
}

.product-price .price {
    font-weight: 500;
}

.action-btn button {
    padding: 10px;
    border-radius: 10px;
    border: 0.5px solid #373636;
    background-color: transparent;
    cursor: pointer;
    display: block;
}

.action-btn {
    display: flex;
    justify-content: end;
    gap: 20px;
}

.mobile {
    display: none;
}

.types {
    margin-left: 40px;
    margin-bottom: 10px;
    opacity: 0.75;
}

.price-ml {
    margin-left: 40px;
    margin-bottom: 10px;
    text-decoration: underline 0.5px;
}

.action-btn button:hover {
    background-color: black;
    color: white;
    transition: 0.5s ease;
}

/* .hidden {
    display: none;
} */

.in-transfer {
    position: absolute;
    width: 100%;
    display: none;
}

.processing {
    position: absolute;
    width: 100%;
    display: none;
}

.order-history__bar ul li {
    cursor: pointer;
    transition: 0.5s ease;
}

.order-history__bar li:hover {
    font-weight: 600;
}


@media only screen and (max-width: 78.75em) {

    .content {
        margin-top: 20px;
        margin-bottom: 20px;
    }

    .content-wrapper {
        flex-direction: column;
        gap: 20px;
    }

    .content {
        margin-inline: 50px;
    }

}


@media only screen and (max-width: 46.1875em) {

    .order-history__bar {
        width: 100%;
    }

    .product-card {
        flex-wrap: wrap;
    }

    .desktop-tablet {
        display: none;
    }
    .product-card {
        gap: 0;
        justify-content: space-between;
    }

    .product-card__img img {
        height: unset;
    }

    .product-details .product-title {
        font-size: 1rem;
    }

    .mobile {
        display: flex;
        width: 100%;
    }

    .mobile button {
        padding: 5px;
        font-size: 0.9rem;
        border-radius: 5px;
    }
}

