@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300..700&family=Raleway:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Unbounded:wght@200..900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Raleway";
}

h2 {
    color: #000;
    font-family: Raleway;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    text-align: left;
    margin-top: 3.5rem;
    margin-bottom: 2rem;
    font-size: 1.5rem;
    margin-left: 100px;
}

.homepage-video {
  position: relative;
  width: 100%;
  height: 100vh;
  margin-bottom: 10rem;
}

.homepage-video__vd {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover; /* Giữ tỉ lệ và che đầy khung */
  z-index: 0;
  opacity: 0.8;
}

video {
  filter: brightness(0.4);
}

.overlay {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 50%;
  background: linear-gradient(to bottom, rgba(255,255,255,0) 0%, rgba(255,255,255,1) 100%);
  pointer-events: none;
}

.homepage-video p {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
  font-family: "Unbounded";
  font-weight: lighter;
  font-size: 3rem;
  text-align: center;
  color: white;
}


.homepage-video button {
  position: absolute;
  top: 70%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 1rem 2rem;
  background-color: transparent;
  border: 0.5px solid white;
  color: #ffffff;
  filter: brightness(1.5);
  border-radius: 20px;
  font-size: large;
  font-family: "Raleway";
  cursor: pointer;
  transition: 0.5s ease-in-out;
}

.homepage-video button:hover {
  padding: 1rem 3rem;
  box-shadow: 0px 10px 30px rgba(255,255,255,0.6);
}

.homepage-video .chat-auto {
  position: absolute;
  padding: 20px;
  color: rgb(96, 96, 96);
  border: 0.5px solid rgb(96, 96, 96);
  border-radius: 20px;
  padding-right: 40px;
  bottom: 40px;
  left: 50%;
  transform: translate(-50%,-50%);
  box-shadow: 0px 10px 30px rgba(96,96,96,0.2);
  transition: 0.5s ease-in-out;
}

.homepage-video .chat-auto:hover {
  padding: 20px 40px 20px 40px;
  filter: brightness(1.5);
  color:#000;
}

.title-qna {
  width: 100%;
}
.common-concern img{
  width: 100%;
}
.carousel-banner {
  position: relative;
  width: 100%;
  height: auto;
  overflow: hidden;
}

.group-banner {
  display: flex;
  transition: transform 0.5s ease-in-out;
}

.group-banner__banner {
  min-width: 100%;
  box-sizing: border-box;
}

.group-banner__banner img {
  width: 100%;
  display: block;
}

/* Nút điều hướng */
.slider-btn {
  position: absolute;
  top: 50%;
  width: 100%;
  display: flex;
  justify-content: space-between;
  transform: translateY(-50%);
  padding: 10px;
}

.slider-btn button {
  background-color: transparent;
  border: none;
  color: white;
  font-size: 2rem;
  cursor: pointer;
  border-radius: 30%;
  padding: 10px 20px;
  transition: background-color 0.3s ease;
}

.slider-btn button:hover {
  background-color: #d9d9d9;
}


.product-list-container {
  display: grid;
  grid-template-columns: repeat(4,1fr);
  justify-content: space-around;
  column-gap: 5%;;
  margin: 5rem 10%;
}

.product-type__title {
  font-size: 1.5rem;
  font-weight: 600;
  text-align: center;
  margin: 10px;
}

.product-type {
  display: flex;
  flex-direction: column;
  row-gap: 20px;
  align-items: center;
}

.product-type__img {
  position: relative;
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.2);
  overflow: hidden;
}

.product-type__img img {
  width: 100%;
  height: 100%;
  transition: transform 0.4s ease, opacity 0.4s ease;
}

.product-type__img .watch-more {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  opacity: 0;
  color: rgb(54, 54, 54);
  padding: 10px 20px;
  font-weight: 600;
  font-size: 1rem;
  transition: 0.3s ease;
  text-decoration: underline;
}

.product-type__img:hover img {
  opacity: 0.5;
  transform: scale(1.05);
}

.product-type__img:hover .watch-more {
  opacity: 1;
}



section {
  width: 90%;
  margin-left: 5%;
  margin-right: 5%;
}

section .main-title {
  font-size: 2rem;
  font-weight: 600;
  font-style: normal;
  margin-bottom: 0.5rem;
  margin-top: 0.5rem;
}

section .main-title span {
  display: inline-block;
  width: 30%;
  height: 0.5px;
  background-color: black;
  margin-left: 30px;
}

section .sub-title {
  font-size: 1.25rem;
  margin-top: 1rem;
  margin-bottom: 2rem;
  font-style: italic;
  font-family: "Raleway";
}

.common-concern-right {
  position: relative;
  height: 80vh;
  margin-bottom: 5rem;
}

.common-concern-left {
  position: relative;
  height: 80vh;
  margin-bottom: 5rem;
  margin-top: 5rem;
}

.common-concern-right img {
  width: 40%;
  height: 90%;
  position: absolute;
  left: 55%;
}

.common-concern-left img {
  width: 40%;
  height: 90%;
  position: absolute;
  right: 55%;
}

.common-concern-right p {
  position: absolute;
  font-size: 1.5rem;
  font-weight: lighter;
  left: 10%;
  top: 25%;
  width: 40%;
  text-align: right;
  font-family: "Unbounded", "Raleway";
  line-height: 2rem;
}

.common-concern-left p {
  position: absolute;
  font-size: 1.5rem;
  font-weight: lighter;
  right: 10%;
  top: 25%;
  width: 40%;
  text-align: left;
  font-family: "Unbounded", "Raleway";
  line-height: 2rem;
}
.common-concern button {
    padding: 1rem 2rem;
    font-size: 1.5rem;
    font-weight: 500;
    border-radius: 20px;
    border: 1px solid black;
    position: absolute;
    background-color: white;
    transition: 0.5s;
    cursor: pointer;
}

.common-concern-right button {
  top: 60%;
  left: 37%;
}

.common-concern-left button {
  top: 60%;
  right: 37%;
}

.common-concern button:hover {
  color: white;
  background-color: #000;
}

hr {
  width: 80%;
}


.beauty-blog__wrapper {
  width: 100%;
  overflow: hidden;
  margin-bottom: 12rem;
}

.beauty-blog {
  height: auto;
  padding-block: 2rem;
  display: flex;
  column-gap: 2rem;
  animation: scroll 18s linear infinite;
  width: fit-content;
}

.beauty-blog:hover {
  animation-play-state: paused;
}

@keyframes scroll {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-50%);
  }
}

.beauty-blog__gif {
  position: relative;
}

.beauty-blog__overlay {
  position: absolute;
  width: 100%;
  height: 30%;
  background: linear-gradient(to bottom, rgba(255,255,255,0) 0%, rgba(255,255,255,1) 100%);
  pointer-events: none;
  bottom: 15%;
  left: 0;
}

.beauty-blog__product {
  display: flex;
  margin-top: 1rem;
  justify-content: flex-start;
  gap: 20px;
}

.beauty-blog__product img {
  width: 56px;
  height: 70px;
}

.beauty-blog__product-description {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: start;
  gap: 10px;
}

.beauty-blog__product-description a {
  color: black;
  text-decoration: none;
  font-weight: 600;
  transition: 0.5s ease-in-out;
}

.beauty-blog__product-description svg {
  margin-left: 10px;
  width: 20px;
  height: 15px;
  transform: rotate(-45deg);
}

.beauty-blog__product-description a:hover {
  font-size: 1.25rem;
}

.commitments-wrapper {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  margin-bottom: 5rem;
  box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.2);
  gap: 60px;
  padding: 50px 30px 5rem 30px;
  height: 95vh;
}

.commitment {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
  overflow: hidden;
}

h3 {
  font-weight: 600;
  text-align: center;
}

.commitment p {
  padding: 20px;
  text-align:justify;
  line-height: 2rem;
  color: grey;
}

.commitment-img {
  width: 100%;
  height: 55%;
  overflow: hidden;
}

.commitment img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: top;
}

.commitment p:hover {
  color: black;
}

.product-slider {
  position: relative;
}

.outside-wrapper {
  overflow: hidden;
  margin-block: 100px;
  margin-inline: 80px;
}

.product-slider .prev, .product-slider .next {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  background-color: transparent;
  border: 0.3px solid #373636;
  color: #373636;
  font-size: 2rem;
  cursor: pointer;
  border-radius: 50%;
  padding: 10px 20px;
  transition: background-color 0.3s ease;
  z-index: 10;
}

.product-slider .prev {
  left: 5px;
}

.product-slider .next {
  right: 5px;
}

.fav-list-wrapper {
    display: flex;
    justify-content: space-between;
    gap: 20px;
    transition: transform 0.5s ease;
}

.product-card {
  flex: 0 0 calc((100% - 60px) / 4);
}

.product-item {
    cursor: pointer;
}

.product-item .product-title {
    margin-block: 20px;
}

.product-item img {
    width: 100%;
}

.product-price .price {
    margin-bottom: 10px;
}

.product-price .price__ml {
    display: flex;
    margin-bottom: 10px;
}

.fav-box {
    width: fit-content;
    position: relative;
    margin-left: 85%;
    margin-bottom: 20px;
    cursor: pointer;
}

.fav-box svg {
    position: absolute;
    transition: 0.2;
}

.fav-list-wrapper .active {
    display: block;
}

.fav-list-wrapper .hidden {
    display: none;
}

.price__ml .ml1, .price__ml .ml2 {
    cursor: pointer;
}

.price__ml .ml1:hover, .price__ml .ml2:hover {
    text-decoration: underline 0.5px;
}

.product-item .rating-types .types {
    opacity: 0.75;
    font-size: 0.9rem;
    margin-bottom: 10px;
}

.rating-types {
    margin-bottom: 30px;
}   

.rating-types .rating {
    margin-bottom: 10px;
}

.product-price .price {
    text-align: center;
    font-weight: 500;
}

.price__ml {
    justify-content: center;
}


.rating svg {
    transform: translateY(25%);
}

.product-item button {
    outline: none;
    width: 100%;
    padding-block: 10px;
    background-color: white;
    border: 1px solid #909090;
    font-size: 0.9rem;
    font-weight: 600;
    cursor: pointer;
}

.product-item button:hover {
    background-color: black;
    color: white;
    transition: 0.5s;
}

.product-item .product-title:hover {
    font-weight: 600;
    text-decoration: underline;
    transition: 0.5s ease;
}

.fav-list-wrapper svg {
    width: 15px;
    height: 14px;
}
/* BREAKPOINT */

@media only screen and (max-width: 46.1875em) {

  section .sub-title {
    margin-bottom: 1rem;
  }

  section .main-title span {
    display: none;
  }

  .homepage-video p {
    font-size: 2rem;
    width: 80%;
  }

  .chat-auto {
      width: 80%;
  }

  h2 {
    font-size: 1.5rem;;
    margin-bottom: 10px;
  }

  .product-list-container {
    grid-template-columns: 1fr 1fr;
    margin-left: 10%;
    margin-right: 10%;
    column-gap: 5px;;
  }

  .product-type {
    row-gap: 5px;
  }

  .product-type__title {
    font-size: 1rem;
  }

  .product-type__img img {
    width: 35vw;
  }

  .common-concern-right {
    position: unset;
    height: auto;
  }

  .common-concern-left {
    position: unset;
    height: auto;
  }

  .common-concern img, .common-concern p, .common-concern button {
    position: unset;
  }

  .common-concern p {
    font-size: 1rem;
    line-height: normal;
    width: 100%;
    text-align: left;
    font-family: "Raleway";
    font-weight: normal;
    line-height: 1.5rem;
  }

  .common-concern-left p {
    margin-top: 50px;
  }

  .common-concern img {
    width: 100%;
    height: auto;
    margin-top: 1rem;
    margin-bottom: 1rem;
  }

  .common-concern button {
    font-size: 1rem;
    padding: 10px 20px;
    margin: 2rem 5px;
  }
  
  .slider-btn {
    display: none;
  }

  .commitments-wrapper {
    flex-direction: column;
    height: unset;
  }

  .commitment {
    height: 70vh;
    overflow: hidden;
    flex: unset;
  }

  .outside-wrapper {
    margin-inline: 0px;
  }

  .product-card {
  flex: 0 0 calc((100% - 20px) / 2);
  }

  .product-slider .prev, .product-slider .next {
    transform: translateY(-70%);
  }

}

 /* Hiệu ứng ban đầu */
  .hidden {
    opacity: 0;
    transform: translateY(60px);
    transition: all 0.8s ease;
  }

  /* Khi xuất hiện */
  .visible {
    opacity: 1;
    transform: translateY(0);
  }

  .product-title {
    text-align: left;
  }

  @media only screen and (min-width: 46.25em) and (max-width: 63.9375em) {

  section .main-title span {
    display: none;
  }

  .product-list-container {
    grid-template-columns: repeat(2,1fr);
    margin-left: 5%;
    margin-right: 5%;
  }

  .common-concern-right {
    position: unset;
    height: auto;
  }

  .common-concern-left {
    position: unset;
    height: auto;
  }

  .common-concern img, .common-concern p, .common-concern button {
    position: unset;
  }

  .common-concern p {
    font-size: 1rem;
    line-height: normal;
    width: 100%;
    text-align: left;
    font-family: "Raleway";
    font-weight: normal;
    line-height: 1.5rem;
  }

  .common-concern img {
    width: 100%;
    height: auto;
    margin-top: 1rem;
    margin-bottom: 1rem;
  }

  .common-concern button {
    font-size: 1rem;
    padding: 10px 20px;
    margin: 2rem 5px;
  }

  .outside-wrapper {
    margin-inline: 20px;
  }

  .product-slider .prev, .product-slider .next {
    transform: translateY(-100%);
  }
}
