@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100..900;1,100..900&display=swap');


* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

header {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Raleway";
    font-size: 1rem;
    position: fixed;
    z-index: 1000;
    width: 100%;
    top: 0;
}

.navbar {
    width: 100%;
    background-color: white;
}

.navbar a {
    text-decoration: none;
    color: black;
}

.navbar__banner {
    display: block;
    background-color: #505050;
    opacity: 0.7;
    height: 30px;
    text-align: center;
    position: relative;
    margin-bottom: 10px;
}

.navbar__banner--promotion-text a {
    color: white;
    opacity: 0;
    position: absolute;
    top: 100%;
    /* bắt đầu bên dưới khung */
    left: 0;
    right: 0;
    transform: translateY(20px);
    text-align: center;
    transition: all 0.6s ease;
}

.navbar__banner--promotion-text a.active {
    opacity: 1;
    top: 6px;
    transform: translateY(0);
}

.navbar__top,
.navbar__bottom {
    display: flex;
    justify-content: space-between;
    margin-left: 50px;
    margin-right: 50px;
}

.navbar__bottom {
    height: 50px;
}

.navbar__top {
    height: 80px;
    margin-left: 100px;
    margin-right: 100px;
}

.navbar button {
    background-color: white;
    margin-top: 1rem;
    border-radius: 10px;
    border-width: 0.6px;
    font-weight: 600;
    height: 4rem;
    padding-left: 20px;
    padding-right: 20px;
    font-family: "Raleway";
    display: inline-flex;
    align-items: center;
    height: 40px;
    gap: 10px;
    margin-right: 10px;
    cursor: pointer;
    font-size: 1rem;
    transition: all 0.5s ease;
}

.navbar button:hover {
    background-color: black;
    border-color: #505050;
    color: white;
}

.navbar__right {
    width: 30%;
    display: flex;
    align-items: center;
}

.navbar__right a {
    display: block;
}

.navbar__right button {
    margin: 0;
    min-width: 150px;
}

.navbar__right a img {
    width: 30px;
    height: 30px;
    margin-right: 20px;
    margin-left: 20px;
}

.navbar .btn img {
    width: 30px;
    height: auto;
}

.navbar__logo {
    height: 100%;
    margin-left: 2rem;
    cursor: pointer;
}

.navbar__logo img {
    height: 100%;
    transform: translateY(-5px);
}

.navbar__bottom .navbar__menu__content {
    padding: 5px;
    display: flex;
    align-items: center;
    position: relative;
    font-weight: 600;
}

/* vẽ viền ảo dưới khối */
.navbar__bottom .navbar__menu__content::after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    width: 0;
    height: 2px;
    background-color: #000;
    transition: width 0.3s ease;
}

/* khi hover thì viền dãn ra */
.navbar__bottom .navbar__menu__content:hover::after {
    width: 100%;
}

.navbar__search {
    width: 450px;
    border: 0.6px solid black;
    border-radius: 10px;
    height: auto;
    margin-top: 10px;
    position: relative;
    margin-right: 20px;
    /* margin-bottom: 10px; */
    transform: translateY(-10px);
    cursor: pointer;
}

.navbar__search>img {
    position: absolute;
    width: 20px;
    height: 20px;
    left: 10px;
    top: 10px;
    cursor: pointer;
}

.navbar__search input {
    position: absolute;
    border: none;
    outline: none;
    top: 10px;
    left: 45px;
    font-size: 1rem;
    font-family: "Raleway";
}

.navbar__menu {
    display: flex;
    justify-content: space-around;
    gap: 20px;
    text-align: center;
}


.navbar__bottom--logo {
    margin-bottom: 10px;
    width: 90px;
    cursor: pointer;
}

header ul {
    list-style: none;
}

header .content__list-wrapper {
    /* position: absolute; */
    width: 100%;
    display: none;
}

.navbar__menu__content--list {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    line-height: 2rem;
    display: none;
    z-index: 1000;
    background-color: white;
    width: 100vw;
    justify-content: center;
}

header .content__list {
    margin-top: 10px;
    display: flex;
    justify-content: space-between;
    gap: 30px;
    margin-left: 100px;
    height: max-content;
}

header .content__img img {
    width: 200px;
    height: 250px;
    margin-right: 100px;
    margin-bottom: 30px;
}

.navbar-mobile {
    display: none;
}

.navbar-mobile {
    position: relative;
}

.navbar-mobile__top {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.navbar-mobile img {
    width: 30px;
    height: 30px;
}

.menu-toggle img {
    transform: translateY(-33%)
}

.navbar-mobile button {
    border: none;
    padding: 0;
    margin-left: 30px;
}

.navbar-mobile button:hover,
.navbar-mobile button:active,
.navbar-mobile button:focus {
    background-color: transparent;
}

.navbar-mobile__icons img {
    display: block;
}

.navbar-mobile__icons {
    margin-right: 30px;
    display: flex;
    cursor: pointer;
    justify-content: space-between;
    gap: 20px;
}

.navbar-mobile__menu {
    position: fixed;
    width: 100%;
    background-color: white;
    height: 100vh;
    top: 0;
    left: -100%;
    transition: left 0.5s ease-in-out;
}

.navbar-mobile .menu-close img {
    width: 50px;
    height: 50px;
    transform: translate(-20%, -20%);
}

.navbar-mobile__menu-top {
    margin-bottom: 20px;
}

.navbar-mobile ul {
    display: flex;
    flex-direction: column;
    gap: 30px;
    margin-left: 30px;
    transition: ease-in 10s;
}

.navbar-mobile li a {
    font-weight: 600;
    display: flex;
    justify-content: space-between;
}

.navbar-mobile li a img {
    transform: translateY(-10%);
}

.navbar__right>a:last-of-type {
    position: relative;
}

.notification-popup {
    width: 30vw;
    right: 12%;
    position: absolute;
    background-color: #505050;
    border-radius: 20px;
    z-index: 1001;
    border-top-right-radius: 0;
    display: none;
}


.notification__item {
    display: flex;
    gap: 20px;
    margin-block: 20px;
    margin-inline: 20px;
    background-color: rgba(217, 217, 217, 0.70);
    border-radius: 10px;
    padding: 10px;
    justify-content: space-between;
    transition: background-color 0.5s ease;
}

.notification__item:hover {
    background-color: rgb(217, 217, 217);
}

.navbar__right a .notification__item img {
    display: block;
    flex: 1;
    height: 100%;
    border-radius: 10px;
    margin-inline: 0;
}

.notification__item__description {
    flex: 4;
    font-size: 0.75rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.notification__item__description p:last-of-type {
    text-align: right;
}

.notification__item__description p:nth-of-type(2) {
    text-decoration: underline;
}

.navbar-mobile__top .navbar-mobile__icons a:last-of-type {
    position: relative;
}

.navbar-mobile__icons img {
    border-radius: 5px;
}

.notifyBtn {
    cursor: pointer;
}

.menu-toggle-active {
    left: 0;
    right: 0;
}

.navbar__search-suggestion {
    position: absolute;
    top: 130%;
    width: 50vw;
    border: 0.5px solid #646363;
    transform: translateX(-20%);
    z-index: 1000;
    background-color: rgba(217, 217, 217, 0.5);
    border-radius: 15px;
    overflow: hidden;
    opacity: 0.8;
}

.navbar__search-suggestion>p {
    display: block;
    padding-bottom: 20px;
    text-align: left;
    padding-top: 20px;
    cursor: pointer;
    padding-left: 50px;
}

.navbar__search__rcm img {
    width: 100%;
    height: auto;
    transition: 0.5s ease-in-out;
    opacity: 0.8;
}

.navbar__search__rcm {
    display: flex;
    justify-content: space-around;
    margin-bottom: 20px;
    padding-top: 50px;
    border-top: 0.5px solid #646363;
}

.navbar__search__rcm-img {
    position: relative;
    width: 200px;
    height: 200px;
    overflow: hidden;
    border-radius: 10px;
    cursor: pointer;
    border: 0.5px solid #646363;
}

.navbar__search__rcm-img > p {
    font-size: 0.9rem;
    width: 100%;
    text-align: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    transition: 0.5s ease-in-out;
    cursor: pointer;
    font-weight: 500;
}

.navbar__search__rcm-img:hover img {
    transform: scale(1.1);
}

.navbar__search__rcm-img:hover>p {
    font-size: 1rem;

    text-decoration: underline 0.5px;
}

.navbar__search-suggestion>p:hover,
.navbar__search-suggestion>p:focus {
    text-decoration: underline 0.5px;
    background-color: #d6d6d6;
    font-weight: 500;
}

.navbar__search-cmd {
    padding-block: 20px;
    padding-left: 40px;
}

.navbar__search-active {
    display: block;
}

.navbar__search-hidden {
    display: none;
}

.navbar-mobile__search {
    height: 100vh;
    position: fixed;
    bottom: 0;
    left: 0;
    top: 56px;
    width: 100%;
    background: white;
    transform: translateY(100%);
    transition: transform 0.4s ease;
    z-index: 1000;
}

.navbar-mobile__search.active {
    transform: translateY(0);
    /* Trượt lên */
    animation: slideUp 0.4s ease forwards;
}

.navbar-mobile__search.hidden {
    transform: translateY(100%);
    animation: slideDown 0.4s ease forwards;
}

@keyframes slideUp {
    from {
        transform: translateY(100%);
        opacity: 0;
    }

    to {
        transform: translateY(0);
        opacity: 1;
    }
}

@keyframes slideDown {
    from {
        transform: translateY(0);
        opacity: 1;
    }

    to {
        transform: translateY(100%);
        opacity: 0;
    }
}

.navbar-mobile__search-area img {
    display: block;
    width: 30px;
    height: 30px;
    cursor: pointer;
}

#search-mb {
    width: 20px;
    height: 20px;
}

.navbar-mobile__search-area {
    width: 100%;
    display: flex;
    gap: 10px;
    padding-inline: 20px;
    align-items: center;
}

.navbar-mobile__search-output>p {
    display: block;
    cursor: pointer;
    padding-bottom: 20px;
    text-align: left;
    padding-top: 20px;
    padding-left: 80px;
    padding-right: 20%;
}

.navbar-mobile__search-output>p:active, .navbar-mobile__search-output>p:focus  {
    text-decoration: underline 0.5px;
    background-color: #d6d6d6;
    font-weight: 500;
}

.navbar-mobile__search-area input {
    flex: 1 1 auto;
    /* cho phép giãn */
    min-width: 0;
    font-family: "Raleway";
    border: none;
    outline: none;
    padding-left: 20px;
    font-size: 1rem;
    padding-block: 20px;
}

.notifyBtn img {
    width: 30px;
    height: 30px;
}

.notifyBtn {
    position: relative;
}

body.no-scroll {
    overflow: hidden;
}

.no-results, .input-keyword {
    display: none;
}

.navbar__search-suggestion {
    display: none;
}

.navbar-username {
    white-space: nowrap;      /* Không xuống dòng */
    overflow: hidden;         /* Ẩn phần vượt quá khung */
    text-overflow: ellipsis; 
    display: inline-block; 
    max-width: 150px;
}


.navbar button:hover .navbar-username {
    color: white;
}   

@media only screen and (max-width: 78.5625em) {

    .navbar-desktop {
        display: none;
    }

    .navbar-mobile {
        display: block;
    }

    .notification-popup {
        width: 40vw;
        top: 50px;
        right: 45px;
    }
}

@media only screen and (max-width: 46.1875em) {
    .notification-popup {
        width: 80vw;
        top: 50px;
    }
}