html{
    font-family: "Raleway";
}

body{
    margin-block: 20px;
    font-size: 18px;
}

button{
    font-size: 18px;
    border-radius: 0px;
    padding: 10px 30px;
    margin-top: 10px;;
    background-color: rgb(241, 240, 240);
    border-width: 1px;
    font-family: "Raleway";
}

button a{
    text-decoration: none;
    color: black;
}

button:hover{
    color: white;
    background-color: rgb(210, 210, 210);
    transition: 0.5s;
}

button:hover a{
    color: white;
}

li{
    list-style-type: none;
    background: none;
}

.wrapper{
    display: grid;
    grid-template-columns: repeat(4, minmax(200px, 1fr));
    grid-gap: 30px;
    max-width: 100%; 
    margin: 0 auto;
}

.wrapper-other{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    grid-gap: 30px;
    max-width: 100%; 
    margin: 0 auto;
}

.more-prod{
    display: none;
    margin-top: 30px;
}

.wrapper-other img{
    margin: 20px 20px;
}

.product{
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    height: 90%;
    border: 0px solid;
    border-radius: 0px;
    width: 90%;
}

.product img{
    width: 70%;
    height: auto;
    border-image: none;
    margin-bottom: 20px;
    border-radius: 10px;
}

.product-name{
  margin: 10px 0;
  text-align: center;
  cursor: pointer;
}

.product-name:hover{
    font-weight: bold;
    text-decoration: underline;
    transition: 0.5s ease;
}

.info-product{
    display: flex;
    align-content: center;
    gap: 5px;
    width: 100%;
    padding-left: 10px;
    justify-content: space-between;
}

.info-product img{
    padding-left: 10px;
    width: 4rem;
    padding-bottom: 0px;
}

.info-product .rating{
    padding-left: 0px;
}

.types{
    padding-left: 10px;
    text-align: left;
    width: 100%;
    padding-left: 20px;
}

.fav-prod{
    cursor: pointer;
    display: flex;
    justify-content: flex-end;
    margin-top: 10px;
    margin-right: 10px;
    width: 100%;
}

.love-icon{
    width: 12px !important;
    height: 12px !important;
    object-fit: contain;
    transition: opacity 0.3s ease;
    cursor: pointer;
}

.fav-prod.active .love-icon{
    transform: scale(1.1);
}

.price{
    font-weight: bold;
    margin-bottom: 2.5px;
    font-size: 18px;
}

.volume{
    display: flex;
    margin-bottom: 10px;
    justify-content: center;
}

.volume .small, .volume .big{
    cursor: pointer;
}

.volume .small:hover, .volume .big:hover{
    text-decoration: underline;
}

.volume .small.active, .volume .big.active{
    text-decoration: underline;
}

.add-cart{
    width: 100%;
    font-size: 16px;
    padding: 10px 16px;
    border: 1px solid black;
    text-decoration: none;
    text-align: center;
    cursor: pointer;
    color: black;
}

.add-cart:hover{
    background-color: black;
    color: white;
    transition: 0.5s;
}

.show-more{
    font-size: 18px;
    display: grid;
    place-items: center;
    max-width: auto;
    height: auto;
    margin: 20px auto;
}

button.show-more{
    background-color: white;
}

button.show-more:hover{
    color: white;
    background-color: black;
    transition: 0.5s;
}

section{
    display: flex;
    padding: 10px;
    flex-direction: column;
    text-align: center;
    max-width: 100%;
}

.product-section{
    max-width: 1200px;
    margin: 20px auto;
    padding: 0 20px;
    top: 100px;
}

.box{
    padding: 10px;
    width: 30%;
    margin: 20px auto;
}

.another-prod{
    margin: 20px 20px;
}

.another-prod p{
    text-align: center;
}

.another-prod h2{
    text-align: center;
}

.product-section h2{
    text-align: left;
    margin-top: 40px;
    margin-bottom: 8px;
    font-size: 28px;
    font-weight: bold;
}

.product-section hr{
    border: 0.2px solid black;
    width: 100%;
    margin-left: 0;
    margin-bottom: 20px;
}

.setup-page{
    margin-top: 150px;
}

.head-page{
    display: grid; 
    grid-template-columns: 1fr 1fr; 
    align-items: center;  
    position: relative; 
    max-width: 1200px; 
    margin: 0 auto;
}

.head-page img{
    width: 100%;
    height: 100%;
    border-radius: 10px;
    display: block;
    object-fit: cover;
    max-width: 900px;
    margin-top: 40px;
}

.head-box{
    background-color: rgba(239, 239, 239, 0.59); 
    box-shadow: 0px 4px 6px 6px rgba(0,0,0,0.25); 
    border-radius: 10px; 
    padding: 20px; 
    max-width: 1200px; 
    line-height: 1.8;
    text-align: left; 
    transform: translateX(60px);
    margin-left: none;
    top: 50%;
    z-index: 2;
}

.heading{
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.filter{
    display: flex;
    align-items: flex-end;
    width: 130px;
    margin-left: auto;
    position:relative;
}

.filter button{
    display: flex;
    align-items: center;
    border: 1px solid black;
    border-radius: 10px;
    background-color:rgb(241, 240, 240);
    font-size: 12px;
}

.filter button:hover{
    background-color: rgb(210, 210, 210);
    transition: 0.5s;
}

.filter-menu{
    display: none;
    position: absolute;
    background-color: white;
    border: 1px solid white;
    border-radius: 10px;
    box-shadow: 0px 0px 1px gray,
            0px 0px 2px rgb(119, 119, 119),
            0px 0px 2px black;
    padding: 10px;
    min-width: 150px;
    top: 110%;
}

.filter-menu.active{
    display: block;
}

.filter-menu p{
    font-weight: bold;
    text-align: left;
}

.filter-menu label{
    display:flex;
    align-items: center;
    gap: 5px;
    font-size: 0.8rem;
    cursor: pointer;
}

.filter-button{
    display: flex;
    justify-content: space-between;
    gap: 5px;
    align-items: center;
}

.filter-button button{
    flex: 1;
    border: 1px solid black;
    border-radius: 10px;
    padding: 0.5rem;
    display: flex;
    justify-content: center;
}

.filter img{
    width: 1rem;
}

.hamburger{
    display: block;
    position: fixed;
    top: 180px;
    left: 5px;
    padding: 10px;
    padding-bottom: 5px;
    border: 1px solid white;
    border-radius: 50%;
    background-color: rgb(205, 205, 205);
    z-index: 10;
    cursor: pointer;
}

.hamburger img{
    width: 30px;
}

.sidebar{
    display: block;
    position: fixed;
    left: -300px;
    top: 230px;
    width: 200px;
    padding: 20px;
    height: 50%;
    background-color: rgba(255, 255, 255, 0.3);
    backdrop-filter: blur(10px);
    transition: left 0.5s ease;
    overflow-y: auto;
    z-index: 10;
    border-radius: 10px;
}

.sidebar.active{
    left: 0;
}

.sidebar a{
    display: block;
    margin: 10px;
    text-decoration: none;
    color:rgb(152, 152, 152);
}

.sidebar a:hover{
    color: rgb(59, 59, 59)
}

.volume {
    margin-block: 10px;
}

.product p {
    margin-block: 20px;
    font-weight: 300;
}

.product {
    cursor: pointer;
}

.show-more {
    cursor: pointer;
    font-weight: 300;
}

.product-section h2 {
    font-weight: 500;
}
 /* má»›i*/

svg {
    width: 15px;
    height: 14px;
}

.fav-list-wrapper {
    display: grid;
    gap: 20px;
    grid-template-columns: repeat(4, 1fr);
}

.product-item {
    cursor: pointer;
}

.product-item .product-title {
    margin-block: 20px;
}

.product-item img {
    width: 100%;
}

.product-price .price {
    margin-bottom: 10px;
}

.product-price .price__ml {
    display: flex;
    margin-bottom: 10px;
}

.fav-box {
    width: fit-content;
    position: relative;
    margin-left: 85%;
    margin-bottom: 20px;
    cursor: pointer;
}

.fav-box svg {
    position: absolute;
    transition: 0.2;
}

.active {
    display: block;
}

.hidden {
    display: none;
}

.price__ml .ml1, .price__ml .ml2 {
    cursor: pointer;
}

.price__ml .ml1:hover, .price__ml .ml2:hover {
    text-decoration: underline 0.5px;
}

.product-item .rating-types .types {
    opacity: 0.75;
    font-size: 0.9rem;
    margin-bottom: 10px;
}

.rating-types {
    margin-bottom: 30px;
}   

.rating-types .rating {
    margin-bottom: 10px;
}

.product-price .price {
    text-align: center;
    font-weight: 500;
}

.price__ml {
    justify-content: center;
}


.rating svg {
    transform: translateY(25%);
}

.product-item button {
    outline: none;
    width: 100%;
    padding-block: 10px;
    background-color: white;
    border: 1px solid #909090;
    font-size: 0.9rem;
    font-weight: 600;
    cursor: pointer;
}

.product-item button:hover {
    background-color: black;
    color: white;
    transition: 0.5s;
}

.product-item .product-title:hover {
    font-weight: 600;
    text-decoration: underline;
    transition: 0.5s ease;
}

.filter button {
    font-size: 1rem;
    padding-inline: 10px;
    padding-block: 8px;
    cursor: pointer;
}

.filter button:hover {
    background-color: #333;
    color: white;
}

.filter-menu {
    width: 30vw;
}

.filter-menu p {
    margin-bottom: 10px;
    font-weight: 500;
}

.filter-button button {
    border: 0.5px solid #333;
}

.filter-menu label {
    font-size: 1rem;
}

.product-section hr {
    border: none;
}

.another-prod button:hover {
    background-color: #333;
    cursor: pointer;
}

.another-prod p {
    text-align: left;
}

#other-product {
    font-weight: 500;
    margin: 0;
    margin-top: 50px;
    margin-left: 20px;
}

@media only screen and (min-width: 46.25em) and (max-width: 63.9375em) {
    .wrapper {
        grid-template-columns: repeat(4, minmax(120px, 1fr));
    }
}
@media (max-width: 46.1875em){
    body, .price{
        font-size: 1rem;
    }
    button{
        font-size: 0.8rem;
    }
    .wrapper{
        grid-template-columns: repeat(2, 1fr);
    }
    .wrapper-other{
        grid-template-columns: 1fr;
        width: 80%;
    }
    .product{
        width: 100%;
    }
    .fav-prod{
        margin-left: 85%;
    }
    .add-cart{
        font-size: 0.8rem;
        padding: 2px 6px;
        width: 80%;
        margin: 0 auto;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .show-more{
        font-size: 0.8rem;
    }
    .product-section h2{
        font-size: 1.25rem;
        margin-top: 0px;
    }
    .product-section img{
        margin: 20px auto;
        width:80%;
    }
    .more-prod{
        display: none;
        width: 100%;
        margin-top: 30px;
    }
    .box{
        width: 80%;
    }
    .setup-page{
        margin-top: 56px;
    }
    .head-page{
        transform: scale(0.8);
    }
    .head-box{
        position: static;
        transform: none;
        width: 100%;
        margin-top: 40px;
        margin-left:none;
        font-size: 16px;
    }
    .head-page{
        width: 100%;
    }
    .head-box{
        position: static;
        width: 100%;
        margin-top: 20px;
        margin-left:none;
    }
    .head-box button{
        padding: 10px 20px;
    }
    .head-page img{

        height: 70%;
        width: 100%;

    }
    .head-box h1{
        font-size: 2rem;
    }
    .head-box p{
        font-size: 1rem;
    }
    .filter{
        width: 10%;
    }
    .another-prod h2{
        font-size: 1.5rem;
    }

    #filter-btn img {
        width: 30px;
        height: 30px;
        margin: 0;
    }
    #filter-btn{
        white-space: nowrap;
        font-size: 1rem;
        margin-bottom: 0px;
        margin-top: 0px;
        width: 100px;
    }
    .hamburger{
        top: 75px;
    }
    .sidebar{
        top: 125px;
    }

    .head-page {
        display: unset;
        overflow: hidden;
        width: 100%;
        position: unset;
    }

    .head-page img, .head-box {
        border-radius: 0;
        width: 90%;
        margin-inline: 5%;
    }

    .head-box {
        width: 90%;
    }

    .head-page img {
        width: 90%;
    }

    .filter-menu {
        width: 50vw;
        z-index: 1000;
    }
}

/* body {
    width: 100%;
    overflow-y: scroll;
    overflow-x: hidden;
} */
