@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300..700&family=Raleway:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Unbounded:wght@200..900&display=swap');


* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Raleway";
}

.background-container {
    margin-top: 170px;
    width: 100%;
    height: fit-content;
    position: relative;
    font-size: 1rem;
    margin-bottom: 100px;
}

video {
    width: 100%;
    height: 80vh;
    object-fit: cover;
}

.wrapper-signup {
    position: absolute;
    display: flex;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    width: 80%;
    height: 90%;
    gap: 10%;
}

.wrapper-signup-form {
    flex: 40%;
    background-color: #fff; 
    opacity: 0.6;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 40px;
    transition: opacity 0.3s;
    cursor: pointer;
}

.wrapper-signup-form:focus-within {
    opacity: 1;
}

form {
    display: flex;
    flex-direction: column;
    gap: 20px;
    justify-content: space-around;
    margin-inline: 2rem;
    flex: 7;
}

.login-link {
    margin-top: 40px;
}

a {
    color: black;
    text-decoration: none;
}

.input-box {
    width: 90%;
    margin-left: 5%;
}

.input-box input {
    height: 2rem;
    width: 100%;
    border-left: none;
    border-right: none;
    border-top: none;
    outline: none;
    font-size: 1rem;
    padding-left: 10px;
}

.error {
    font-size: 14px;
    margin-left: 10px;
    margin-top: 5px;
    color: rgb(199, 19, 19);
    display: none;
}

/* #email:invalid + .error {
    display: inline;
} */

.register-btn {
    flex: 1;
    border-radius: 0 0 20px 20px;
    background: #D9D9D9;
    width: 100%;
    position: relative;
}

.register-btn button {
    border: none;
    outline: none;
    background-color: transparent;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    font-size: 1.25rem;
    font-family: "Raleway";
    transition: 0.5s;
    cursor: pointer;
}

.register-btn:hover {
    background-color: #373636;
}

.register-btn:hover button {
    color: white;
}

.header-text {
    margin-top: 5%;
    flex: 60%;
    font-family: "Unbounded";
}

.header-text p {
    color: #FFF;
    font-size: 1.5rem;
    margin-bottom: 1.5rem;
}

h1 {
    color: #FFF;
    font-size: 2.5rem;
    font-style: normal;
    font-weight: 300;
    line-height: 70px;
}

@media only screen and (max-width: 78.5625em) {
    
    .background-container {
        margin-top: 100px;
        margin-bottom: 100px;
    }
    
    .header-text {
        display: none;
    }
}


@media only screen and (max-width: 46.1875em) {
    .wrapper-signup {
        width: 90%;
    }

    .wrapper-signup-form {
        border-radius: 10px;
    }

    .register-btn {
        border-radius: 0 0 10px 10px;
    }

    form {
        margin-inline: 5px;
    }

    .input-box input {
        height: 1.5rem;
        font-size: 0.9rem;
    }

    .login-link, .commitment {
        margin-left: 10px;
        font-size: 0.9rem;
    }

    .register-btn button {
        font-size: 1.1rem;
    }
}
