html{
    background-color: gray;
    font-family: 'Raleway';
}

.delivery{
    display: flex;
    align-items: center;
    border: 2px solid black;
    border-radius: 10px;
    padding: 10px;
    background-color: rgb(206, 204, 204);
    margin: 20px 20px;
    max-width: 800px;
    margin: 40px auto;
    box-shadow: 0 4px 10px rgba(0,0,0,0.2);
}

.delivery img{
  max-width: 10rem;
  height: 10rem;
}

.delivery ul{
    flex:1;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin: 10px 10px;
}

.delivery ul li{
    list-style-type: none;
}

.delivery time {
    align-self: flex-end;
    color: black;
}

#box{
    background-color: rgb(211, 210, 210);
    width: 200px;
    height: 200px;
    border: 1px solid white;
    border-radius: 10px;
}

@media (max-width: 600px) {
  .delivery ul {
    height: auto; 
    margin-top: 10px;
  }

  .delivery time {
    align-self: center; 
    margin-top: 10px;
  }

  #box {
    width: 200px; 
    height: 200px;
  }
}