@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300..700&family=Raleway:ital,wght@0,100..900;1,100..900&display=swap');

.cha {
  font-family: "Raleway";
  width: 100%;
  background: lightgray;    
  color: blueviolet;
  font-weight: 900;
  font-size: 3rem
}

body {
    width : 100vw;
    margin: 0;
}

.con {
    border: black dashed 2px;
  width: 50vw;
  background: red;
  color: white;
  font-size: 2em;
  font-weight: 900;
  font-family: "Quicksand";
}

.floating-block {
  width: 60%;
  right: 10%;
  left:  30%;
  border: 2px solid #ff0000;
  position: relative;
  height: 30vh;
}

.floating-block img {
  position: absolute;
  right: 0;
}

.floating-block p {
  position: absolute;
  width: 75%;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

@media only screen and (max-width: 46.1875em) {
  .floating-block {
    position: unset;
    width: 100%;
    margin-left: 10%;
  }
  .floating-block img {
    position: unset;
    width: 80%;
    height: 100%;
  }
  
  .floating-block p {
    display: none;
  }
}