<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/css/navbar_style.css">
    <script src="/js/navbar_js.js" defer></script>
</head>

<body>
    <header class="navbar">
        <div class="navbar-desktop">
            <div class="navbar__banner">
                <div class="navbar__banner--promotion-text">
                    <a href="#">Công thức giảm thâm sau 2 tháng</a>
                    <a href="#">Miễn phí giao hàng cho đơn từ 2.500.000đ</a>
                </div>
            </div>
            <div class="navbar__top">
                <div class="navbar__left">
                    <button class="btn btn-outline">Danh sách cửa hàng</button>
                    <button class="btn btn-outline">Hỗ trợ</button>
                </div>

                <div class="navbar__logo">
                    <img src="/components/components-imgs/logo.svg" alt="logo cua hang">
                </div>

                <div class="navbar__right">
                    <button class="btn btn-outline">
                        <img src="/components/components-imgs/login.svg" alt="login-button">
                        <a href="/accounts/account-login.html">Đăng nhập/Đăng ký</a>
                    </button>
                    <a href="#"><img src="/components/components-imgs/cart-icon.svg" alt="gio hang"></a>
                    <a href="#">
                        <img src="/components/components-imgs/notification-icon.svg" alt="thong bao">
                        <!-- pop up thông báo -->
                        <div class="notification-popup">
                            <div class="notification__item">
                                <img src="/components/components-imgs/cart-img.jpg" alt="">
                                <div class="notification__item__description">
                                    <p>Đơn hàng XXX-YYY của bạn đã được đặt thành công và chúng tôi sẽ giao đến bạn
                                        nhanh nhất có thể.</p>
                                    <p>Nhấn để xem chi tiết đơn vừa đặt</p>
                                    <p>28-09-2025</p>
                                </div>
                            </div>
                            <div class="notification__item">
                                <img src="/components/components-imgs/cart-img.jpg" alt="">
                                <div class="notification__item__description">
                                    <p>Đơn hàng XXX-YYY của bạn đã được đặt thành công và chúng tôi sẽ giao đến bạn
                                        nhanh nhất có thể.</p>
                                    <p>Nhấn để xem chi tiết đơn vừa đặt</p>
                                    <p>28-09-2025</p>
                                </div>
                            </div>
                            <div class="notification__item">
                                <img src="/components/components-imgs/cart-img.jpg" alt="">
                                <div class="notification__item__description">
                                    <p>Đơn hàng XXX-YYY của bạn đã được đặt thành công và chúng tôi sẽ giao đến bạn
                                        nhanh nhất có thể.</p>
                                    <p>Nhấn để xem chi tiết đơn vừa đặt</p>
                                    <p>28-09-2025</p>
                                </div>
                            </div>
                        </div>
                    </a>
                </div>
            </div>
            <div class="navbar__bottom">
                <img class="navbar__bottom--logo" src="/components/components-imgs/small-logo.svg" alt="logo-nho">
                <div class="navbar__menu__content">
                    <a href="#">Derma.info</a>
                </div>
                <div class="navbar__menu__content deals">
                    <a href="#">Hot Deals!</a>
                </div>
                <div class="navbar__search">
                    <img src="/components/components-imgs/search-icon.svg" alt="">
                    <input type="text" placeholder="Tìm kiếm sản phẩm">
                </div>

                <div class="navbar__menu">
                    <div class="navbar__menu__content">
                        <a href="#">Bestsellers</a>
                    </div>
                    <div class="navbar__menu__content skincare">
                        <a href="#">Chăm sóc da</a>
                    </div>
                    <div class="navbar__menu__content hairbody">
                        <a href="#">Chăm sóc tóc & cơ thể</a>

                    </div>
                </div>
            </div>


            <div class="content__list-wrapper">
                <div class="navbar__menu__content--list deals">
                    <div class="content__list">
                        <ul>
                            <li>Deals hot tháng 11!</li>
                            <li>Săn combo làm sạch sâu 15/11</li>
                            <li>Combo serum & kem dưỡng - nhận voucher freeship!</li>
                        </ul>
                    </div>
                    <div class="content__img">
                        <img src="/components/components-imgs/nav-dropdown.webp" alt="">
                    </div>
                </div>


                <div class="navbar__menu__content--list skincare">
                    <div class="content__list">
                        <ul>
                            <li>Kem dưỡng</li>
                            <li>Hoạt chất hỗ trợ da</li>
                            <li>Kem chống nắng nâng tông</li>
                            <li>Nước hoa hồng cấp ẩm</li>
                        </ul>
                        <ul>
                            <li>Kem dưỡng</li>
                            <li>Hoạt chất hỗ trợ da</li>
                            <li>Kem chống nắng nâng tông</li>
                            <li>Nước hoa hồng cấp ẩm</li>
                        </ul>
                        <ul>
                            <li>Kem dưỡng</li>
                            <li>Hoạt chất hỗ trợ da</li>
                            <li>Kem chống nắng nâng tông</li>
                            <li>Nước hoa hồng cấp ẩm</li>
                        </ul>
                    </div>
                    <div class="content__img">
                        <img src="/components/components-imgs/nav-dropdown.webp" alt="">
                    </div>
                </div>

                <div class="navbar__menu__content--list hairbody">
                    <div class="content__list">
                        <ul>
                            <li>Dầu gội</li>
                            <li>Dầu xả</li>
                            <li>Kem chống nắng body</li>
                            <li>Dưỡng tóc</li>
                            <li>Kem dưỡng</li>
                        </ul>
                    </div>
                    <div class="content__img">
                        <img src="/components/components-imgs/nav-dropdown.webp" alt="">
                    </div>
                </div>
            </div>
        </div>

        <!-- navbar cho mobile & ipad -->
        <div class="navbar-mobile">
            <div class="navbar-mobile__top">
                <button class="menu-toggle">
                    <img src="/components/components-imgs/toogle-menu.svg" alt="">
                </button>
                <div class="navbar-mobile__icons">
                    <a href="#"><img src="/components/components-imgs/search-icon.svg" alt=""></a>
                    <a href="#"><img src="/components/components-imgs/login.svg" alt=""></a>
                    <a href="#"><img src="/components/components-imgs/cart-icon.svg" alt=""></a>
                    <a href="#">
                        <img src="/components/components-imgs/notification-icon.svg" alt="">
                        <!-- pop up thông báo -->
                        <div class="notification-popup">
                            <div class="notification__item">
                                <img src="/components/components-imgs/cart-img.jpg" alt="">
                                <div class="notification__item__description">
                                    <p>Đơn hàng XXX-YYY của bạn đã được đặt thành công và chúng tôi sẽ giao đến bạn
                                        nhanh nhất có thể.</p>
                                    <p>Nhấn để xem chi tiết đơn vừa đặt</p>
                                    <p>28-09-2025</p>
                                </div>
                            </div>
                            <div class="notification__item">
                                <img src="/components/components-imgs/cart-img.jpg" alt="">
                                <div class="notification__item__description">
                                    <p>Đơn hàng XXX-YYY của bạn đã được đặt thành công và chúng tôi sẽ giao đến bạn
                                        nhanh nhất có thể.</p>
                                    <p>Nhấn để xem chi tiết đơn vừa đặt</p>
                                    <p>28-09-2025</p>
                                </div>
                            </div>
                            <div class="notification__item">
                                <img src="/components/components-imgs/cart-img.jpg" alt="">
                                <div class="notification__item__description">
                                    <p>Đơn hàng XXX-YYY của bạn đã được đặt thành công và chúng tôi sẽ giao đến bạn
                                        nhanh nhất có thể.</p>
                                    <p>Nhấn để xem chi tiết đơn vừa đặt</p>
                                    <p>28-09-2025</p>
                                </div>
                            </div>
                        </div>		

                    </a>
                </div>
            </div>

            <!-- Menu ẩn/hiện -->
            <div class="navbar-mobile__menu">
                <div class="navbar-mobile__menu-top navbar-mobile__top">
                    <button class="menu-close"><img src="/components/components-imgs/close-icon.svg" alt=""></button>
                    <div class="navbar-mobile__icons">
                        <a href="#"><img src="/components/components-imgs/search-icon.svg" alt=""></a>
                        <a href="#"><img src="/components/components-imgs/login.svg" alt=""></a>
                        <a href="#"><img src="/components/components-imgs/cart-icon.svg" alt=""></a>
                        <a href="#">
                        <img src="/components/components-imgs/notification-icon.svg" alt="">
                        <!-- pop up thông báo -->
                        <div class="notification-popup">
                            <div class="notification__item">
                                <img src="/components/components-imgs/cart-img.jpg" alt="">
                                <div class="notification__item__description">
                                    <p>Đơn hàng XXX-YYY của bạn đã được đặt thành công và chúng tôi sẽ giao đến bạn
                                        nhanh nhất có thể.</p>
                                    <p>Nhấn để xem chi tiết đơn vừa đặt</p>
                                    <p>28-09-2025</p>
                                </div>
                            </div>
                            <div class="notification__item">
                                <img src="/components/components-imgs/cart-img.jpg" alt="">
                                <div class="notification__item__description">
                                    <p>Đơn hàng XXX-YYY của bạn đã được đặt thành công và chúng tôi sẽ giao đến bạn
                                        nhanh nhất có thể.</p>
                                    <p>Nhấn để xem chi tiết đơn vừa đặt</p>
                                    <p>28-09-2025</p>
                                </div>
                            </div>
                            <div class="notification__item">
                                <img src="/components/components-imgs/cart-img.jpg" alt="">
                                <div class="notification__item__description">
                                    <p>Đơn hàng XXX-YYY của bạn đã được đặt thành công và chúng tôi sẽ giao đến bạn
                                        nhanh nhất có thể.</p>
                                    <p>Nhấn để xem chi tiết đơn vừa đặt</p>
                                    <p>28-09-2025</p>
                                </div>
                            </div>
                        </div>		

                    </a>
                    </div>
                </div>

                <ul>
                    <li><a href="#">Bestsellers<img src="/components/components-imgs/angle-right.svg" alt=""></a></li>
                    <li><a href="#">Chăm sóc da<img src="/components/components-imgs/angle-right.svg" alt=""></a></li>
                    <li><a href="#">Chăm sóc tóc & cơ thể<img src="/components/components-imgs/angle-right.svg"
                                alt=""></a></li>
                    <li><a href="#">Derma.info<img src="/components/components-imgs/angle-right.svg" alt=""></a></li>
                    <li><a href="#">Thông báo</a></li>
                    <li><a href="/accounts/account-login.html">Đăng nhập</a></li>
                </ul>
            </div>
        </div>
    </header>

</body>

</html>