html{
    scroll-behavior: smooth;
    font-family: "Raleway";
}

body{
    margin: 20px 20px;
    font-size: 18px;
}

button{
    font-size: 18px;
    border-radius: 0px;
    padding: 10px 30px;
    margin-top: 10px;;
    background-color: rgb(241, 240, 240);
    border-width: 1px;
    font-family: "Raleway";
}

button a{
    text-decoration: none;
    color: black;
}

button:hover{
    color: white;
    background-color: rgb(210, 210, 210);
    transition: 0.5s;
}

button:hover a{
    color: white;
}

li{
    list-style-type: none;
    background: none;
}

.wrapper{
    display: grid;
    grid-template-columns: repeat(4, minmax(200px, 1fr));
    grid-gap: 30px;
    max-width: 100%; 
    margin: 0 auto;
}

.wrapper-other{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    grid-gap: 30px;
    max-width: 100%; 
    margin: 0 auto;
}

.more-prod{
    display: none;
    margin-top: 30px;
}

.wrapper-other img{
    margin: 20px 20px;
}

.product{
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    height: 90%;
    border: 0px solid;
    border-radius: 0px;
    width: 90%;
}

.product img{
    width: 70%;
    height: auto;
    border-image: none;
    margin-bottom: 20px;
    border-radius: 10px;
}

.product-name{
  margin: 10px 0;
  text-align: center;
  cursor: pointer;
}

.product-name:hover{
    font-weight: bold;
    text-decoration: underline;
    transition: 0.5s ease;
}

.info-product{
    display: flex;
    align-content: center;
    gap: 5px;
    width: 100%;
    padding-left: 10px;
    justify-content: space-between;
}

.info-product img{
    padding-left: 10px;
    width: 4rem;
    padding-bottom: 0px;
}

.info-product .rating{
    padding-left: 0px;
}

.types{
    padding-left: 10px;
    text-align: left;
    width: 100%;
    padding-left: 20px;
}

.fav-prod{
    cursor: pointer;
    display: flex;
    justify-content: flex-end;
    margin-top: 10px;
    margin-right: 10px;
    width: 100%;
}

.love-icon{
    width: 12px !important;
    height: 12px !important;
    object-fit: contain;
    transition: opacity 0.3s ease;
    cursor: pointer;
}

.fav-prod.active .love-icon{
    transform: scale(1.1);
}

.price{
    font-weight: bold;
    margin-bottom: 2.5px;
    font-size: 18px;
}

.volume{
    display: flex;
    margin-bottom: 10px;
    justify-content: center;
}

.volume .small, .volume .big{
    cursor: pointer;
}

.volume .small:hover, .volume .big:hover{
    text-decoration: underline;
}

.volume .small.active, .volume .big.active{
    text-decoration: underline;
}

.add-cart{
    width: 100%;
    font-size: 16px;
    padding: 10px 16px;
    border: 1px solid black;
    text-decoration: none;
    text-align: center;
    cursor: pointer;
    color: black;
}

.add-cart:hover{
    background-color: black;
    color: white;
    transition: 0.5s;
}

.show-more{
    font-size: 18px;
    display: grid;
    place-items: center;
    max-width: auto;
    height: auto;
    margin: 20px auto;
}

button.show-more{
    background-color: white;
}

button.show-more:hover{
    color: white;
    background-color: black;
    transition: 0.5s;
}

section{
    display: flex;
    padding: 10px;
    flex-direction: column;
    text-align: center;
    max-width: 100%;
}

.product-section{
    max-width: 1200px;
    margin: 20px auto;
    padding: 0 20px;
    top: 100px;
}

.box{
    padding: 10px;
    width: 30%;
    margin: 20px auto;
}

.another-prod{
    margin: 20px 20px;
}

.another-prod p{
    text-align: center;
}

.another-prod h2{
    text-align: center;
}

.product-section h2{
    text-align: left;
    margin-top: 40px;
    margin-bottom: 8px;
    font-size: 28px;
    font-weight: bold;
}

.product-section hr{
    border: 0.2px solid black;
    width: 100%;
    margin-left: 0;
    margin-bottom: 20px;
}

.setup-page{
    margin-top: 150px;
}

.head-page{
    display: grid; 
    grid-template-columns: 1fr 1fr; 
    align-items: center;  
    position: relative; 
    max-width: 1200px; 
    margin: 0 auto;
}

.head-page img{
    width: 100%;
    height: 100%;
    border-radius: 10px;
    display: block;
    object-fit: cover;
    max-width: 900px;
    margin-top: 40px;
}

.head-box{
    background-color: rgba(239, 239, 239, 0.59); 
    box-shadow: 0px 4px 6px 6px rgba(0,0,0,0.25); 
    border-radius: 10px; 
    padding: 20px; 
    max-width: 1200px; 
    line-height: 1.8;
    text-align: left; 
    transform: translateX(60px);
    margin-left: none;
    top: 50%;
    z-index: 2;
}

.heading{
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.filter{
    display: flex;
    align-items: flex-end;
    width: 130px;
    margin-left: auto;
    position:relative;
}

.filter button{
    display: flex;
    align-items: center;
    border: 1px solid black;
    border-radius: 10px;
    background-color:rgb(241, 240, 240);
    font-size: 12px;
}

.filter button:hover{
    background-color: rgb(210, 210, 210);
    transition: 0.5s;
}

.filter-menu{
    display: none;
    position: absolute;
    background-color: white;
    border: 1px solid white;
    border-radius: 10px;
    box-shadow: 0px 0px 1px gray,
            0px 0px 2px rgb(119, 119, 119),
            0px 0px 2px black;
    padding: 10px;
    min-width: 150px;
    top: 110%;
}

.filter-menu.active{
    display: block;
}

.filter-menu p{
    font-weight: bold;
    text-align: left;
}

.filter-menu label{
    display:flex;
    align-items: center;
    gap: 5px;
    font-size: 0.8rem;
    cursor: pointer;
}

.filter-button{
    display: flex;
    justify-content: space-between;
    gap: 5px;
    align-items: center;
}

.filter-button button{
    flex: 1;
    border: 1px solid black;
    border-radius: 10px;
    padding: 0.5rem;
    display: flex;
    justify-content: center;
}

.filter img{
    width: 1rem;
}

.hamburger{
    display: block;
    position: fixed;
    top: 180px;
    left: 5px;
    padding: 10px;
    padding-bottom: 5px;
    border: 1px solid white;
    border-radius: 50%;
    background-color: rgb(205, 205, 205);
    z-index: 10;
    cursor: pointer;
}

.hamburger img{
    width: 30px;
}

.sidebar{
    display: block;
    position: fixed;
    left: -300px;
    top: 230px;
    width: 200px;
    padding: 20px;
    height: 50%;
    background-color: rgba(255, 255, 255, 0.3);
    backdrop-filter: blur(10px);
    transition: left 0.5s ease;
    overflow-y: auto;
    z-index: 10;
    border-radius: 10px;
}

.sidebar.active{
    left: 0;
}

.sidebar a{
    display: block;
    margin: 10px;
    text-decoration: none;
    color:rgb(152, 152, 152);
}

.sidebar a:hover{
    color: rgb(59, 59, 59)
}

@media (max-width: 46.1875em){
    body, .price{
        font-size: 1rem;
    }
    button{
        font-size: 0.8rem;
    }
    .wrapper{
        grid-template-columns: repeat(2, 1fr);
    }
    .wrapper-other{
        grid-template-columns: 1fr;
        width: 80%;
    }
    .product{
        width: 100%;
    }
    .fav-prod{
        margin-left: 85%;
    }
    .add-cart{
        font-size: 0.8rem;
        padding: 2px 6px;
        width: 80%;
        margin: 0 auto;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .show-more{
        font-size: 0.8rem;
    }
    .product-section h2{
        font-size: 1.25rem;
        margin-top: 0px;
    }
    .product-section img{
        margin: 20px auto;
        width:80%;
    }
    .more-prod{
        display: none;
        width: 100%;
        margin-top: 30px;
    }
    .box{
        width: 80%;
    }
    .setup-page{
        margin-top: 10%;
    }
    .head-page{
        transform: scale(0.8);
    }
    .head-box{
        position: static;
        transform: none;
        width: 100%;
        margin-top: 40px;
        margin-left:none;
        font-size: 16px;
    }
    .head-page{
        transform: scale(0.8);
    }
    .head-box{
        position: static;
        transform: none;
        width: 100%;
        margin-top: 20px;
        margin-left:none;
    }
    .head-box button{
        padding: 10px 20px;
    }
    .head-page img{
        transform: scale(1.5);
        height: 70%;
    }
    .head-box h1{
        font-size: 2rem;
    }
    .head-box p{
        font-size: 1rem;
    }
    .filter{
        width: 10%;
    }
    .another-prod h2{
        font-size: 1.5rem;
    }
    #filter-btn{
        white-space: nowrap;
        font-size: 0.5rem;
        margin-bottom: 0px;
        margin-top: 0px;
        height: 25px;
        padding: 15px;;
    }
    #filter-btn img{
        width: 50%;
    }
    .hamburger{
        top: 75px;
    }
    .sidebar{
        top: 125px;
    }
}

footer {
    width: 100%;
    border-top: 2px solid #818181;
    background: #E3E3E3;
    margin: 0;
    font-family: "Raleway";
    font-size: 1rem;
}

footer .footer-flexbox {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    /* padding: 40px 80px; */
    margin: 40px 80px; /* lap */
}


footer .footer-col {
    text-align: left;
    flex: 1;
    margin: 10px 20px;
}

footer .footer-col__title {
    color: #000;
    font-size: 1.25rem;
    font-style: normal;
    font-weight: 600;
    margin-bottom: 10px;
}

footer a {
    text-decoration: none;
    color: #000;
}

footer a:hover {
    background-color: #c9c9c9;
    text-decoration: underline dashed 0.5px;
}

footer ul {
  list-style: none;
  padding: 0;
  line-height: 1.5rem;
  margin-bottom: 3rem;
}

footer img {
    width: 1.5rem;
    height: 1.5rem;
    margin-right: 0.5rem;
}

footer .location-description {
    display: flex;
    flex-direction: row;
    gap: 0.75rem;
    margin-top: 0.5rem;
    margin-bottom: 3em;
}

footer .location-description ul {
    margin: 0;
    line-height: 2rem;
}

footer .subscribe {
    display: flex;
    align-items: center;
}

footer .subscribe input {
    border: none;
    border-bottom: 1px solid black;
    outline: none;
    width: 80%;
    padding: 8px 4px;
    background-color: transparent;
    font-family: "Raleway";
}

footer .subscribe button {
    margin-top: 0.5rem;
    border: none;
    background: none;
    padding: 0;
    outline: none;
    cursor: pointer;
}

footer .subscribe svg {
    width: 2rem;
    height: 1.5rem;
}

footer .footer-bottom {
    margin-bottom: 0;
    background-color: #bdbdbd;
    width: 100%;
    height: 4rem;
    display: flex;
    align-items: center;
    justify-content: center;
}

@media only screen and (max-width: 46.1875em) {

    footer .footer-flexbox {
    display: flex;
    flex-direction: column;
    margin: 1em 2em;
}

    footer .footer-bottom {
        font-size: 0.75em;
        text-align: center;
        height: 2rem;
    }
}


@media only screen and (min-width: 46.25em) and (max-width: 63.9375em) {

    footer {
        font-size: 0.75em;
    }

    footer .footer-flexbox {
    margin: 1em 2em;
}
    footer .footer-col__title {
        font-size: 1em;
    }

    footer .footer-bottom {
        height: 2rem;
    }
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

header {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Raleway";
    font-size: 1rem;
    position: fixed;
    z-index: 1000;
    width: 100%;
    top: 0;
}

.navbar {
    width: 100%;
    background-color: white;
}

.navbar a {
    text-decoration: none;
    color: black;
}

.navbar__banner {
    display: block;
    background-color: #505050;
    opacity: 0.7;
    height: 30px;
    text-align: center;
    position: relative;
    margin-bottom: 10px;
}


.navbar__banner--promotion-text a {
    color: white;
    opacity: 0;
    position: absolute;
    top: 100%;
    /* bắt đầu bên dưới khung */
    left: 0;
    right: 0;
    transform: translateY(20px);
    text-align: center;
    transition: all 0.6s ease;
}

.navbar__banner--promotion-text a.active {
    opacity: 1;
    top: 6px;
    transform: translateY(0);
}

.navbar__top,
.navbar__bottom {
    display: flex;
    justify-content: space-between;
    margin-left: 50px;
    margin-right: 50px;
}

.navbar__bottom {
    height: 50px;
}

.navbar__top {
    height: 80px;
    margin-left: 100px;
    margin-right: 100px;
}

.navbar button {
    background-color: white;
    margin-top: 1rem;
    border-radius: 10px;
    border-width: 0.6px;
    font-weight: 600;
    height: 4rem;
    padding-left: 20px;
    padding-right: 20px;
    font-family: "Raleway";
    display: inline-flex;
    align-items: center;
    height: 40px;
    gap: 10px;
    margin-right: 10px;
    cursor: pointer;
    font-size: 1rem;
    transition: 0.5s ease;
}

.navbar button:hover {
    background-color: #e6e6e6;
    border-color: #505050;
    /* color: white; */
}

.navbar__right {
    width: 30%;
    display: flex;
    align-items: center;
}
.navbar__right a {
    display: block;
}

.navbar__right button {
    margin: 0;
}



.navbar__right a img {
    width: 30px;
    height: 30px;
    margin-right: 20px;
    margin-left: 20px;
}

.navbar .btn img {
    width: 30px;
    height: auto;
}

.navbar__logo {
    height: 100%;
    margin-left: 2rem;
}

.navbar__logo img {
    height: 100%;
    transform: translateY(-5px);
}

.navbar__bottom .navbar__menu__content {
    padding: 5px;
    display: flex;
    align-items: center;
    position: relative;
    font-weight: 600;
}

/* vẽ viền ảo dưới khối */
.navbar__bottom .navbar__menu__content::after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    width: 0;
    height: 2px;
    background-color: #000;
    transition: width 0.3s ease;
}

/* khi hover thì viền dãn ra */
.navbar__bottom .navbar__menu__content:hover::after {
    width: 100%;
}

.navbar__search {
    width: 450px;
    border: 0.6px solid black;
    border-radius: 10px;
    height: auto;
    margin-top: 10px;
    position: relative;
    margin-right: 20px;
    /* margin-bottom: 10px; */
    transform: translateY(-10px);
}

.navbar__search > img {
    position: absolute;
    width: 20px;
    height: 20px;
    left: 10px;
    top: 10px;
    cursor: pointer;
}

.navbar__search input {
    position: absolute;
    border: none;
    outline: none;
    top: 10px;
    left: 45px;
    font-size: 1rem;
    font-family: "Raleway";
}

.navbar__menu {
    display: flex;
    justify-content: space-around;
    gap: 20px;
    text-align: center;
}


.navbar__bottom--logo {
    margin-bottom: 10px;
    width: 90px;
}

ul {
    list-style: none;
}

.content__list-wrapper {
    /* position: absolute; */
    width: 100%;
    height: 40vh;
    background-color: white;
    display: none;
}

.navbar__menu__content--list {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    line-height: 2rem;
    display: none;
    z-index: 999;
    background-color: white;
}

.content__list {
    margin-top: 10px;
    display: flex;
    justify-content: space-between;
    gap: 30px;
    margin-left: 100px;
    width: max-content;
}

.content__img img {
    width: 200px;
    height: 250px;
    margin-right: 100px;
}

.navbar-mobile {
    display: none;
}

.cuoi {
    height: 5000px;
    background-color: aqua;
}

.cuoi2 {
    background-color: red;
    height: 5000px;
}

.navbar-mobile {
    position: relative;
}

.navbar-mobile__top {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.navbar-mobile img {
    width: 30px;
    height: 30px;
}

.menu-toggle img {
    transform: translateY(-33%)
}

.navbar-mobile button {
    border: none;
    padding: 0;
    margin-left: 30px;
}

.navbar-mobile button:hover,
.navbar-mobile button:active,
.navbar-mobile button:focus {
    background-color: transparent;
}

.navbar-mobile__icons a {
    display: block;
}

.navbar-mobile__icons {
    margin-right: 30px;
    display: flex;
    cursor: pointer;
    justify-content: space-between;
    gap: 20px;
}

.navbar-mobile__menu {
    position: fixed;
    width: 100%;
    background-color: white;
    height: 100vh;
    top: 0;
    left: -100%;
    transition: left 0.5s ease-in-out;
}

.navbar-mobile .menu-close img {
    width: 50px;
    height: 50px;
    transform: translate(-20%,-20%);
}

.navbar-mobile__menu-top {
    margin-bottom: 20px;
}

.navbar-mobile ul {
    display: flex;
    flex-direction: column;
    gap: 30px;
    margin-left: 30px;
    transition: ease-in 10s;
}

.navbar-mobile li a {
    font-weight: 600;
    display: flex;
    justify-content: space-between;
}

.navbar-mobile li a img {
    transform: translateY(-10%);
}

.navbar__right > a:last-of-type {
    position: relative;
}

.notification-popup {
    width: 30vw;
    right: 50%;
    position: absolute;
    background-color: #505050;
    border-radius: 20px;
    z-index: 1001;
    border-top-right-radius: 0;
    display: none;
}


.notification__item {
    display: flex;
    gap: 20px;
    margin-block: 20px;
    margin-inline: 20px;
    background-color: rgba(217, 217, 217, 0.70);
    border-radius: 10px;
    padding: 10px;
    justify-content: space-between;
    transition: background-color 0.5s ease;
}

.notification__item:hover {
    background-color: rgb(217, 217, 217);
}

.navbar__right a .notification__item img {
    display: block;
    flex: 1;
    height: 100%;
    border-radius: 10px;
    margin-inline: 0;
}

.notification__item__description {
    flex: 4;
    font-size: 0.75rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.notification__item__description p:last-of-type {
    text-align: right;
}

.notification__item__description p:nth-of-type(2) {
    text-decoration: underline;
}

.navbar-mobile__top .navbar-mobile__icons a:last-of-type {
    position: relative;
}

.navbar-mobile__icons img {
    border-radius: 5px;
}

.notifyBtn {
    cursor: pointer;
}

.menu-toggle-active {
    left: 0;
    right: 0;
}

.navbar__search-suggestion {
    position: absolute;
    top: 120%;
    width: 50vw;
    border: 0.5px solid #373636;
    transform: translateX(-20%);
    z-index: 1000;
}

.navbar__search-suggestion > p:first-of-type {
    margin-top: 10px;
}

.navbar__search-suggestion > p {
    display: block;
    margin-bottom: 20px;
    text-align: center;
}

.navbar__search__rcm img {
    width: 150px;
    height: auto;
}

.navbar__search__rcm {
    display: flex;
    justify-content: space-around;
    margin-bottom: 20px;
}

.navbar__search__rcm-img {
    position: relative;
}

.navbar__search__rcm-img > p {
    text-align: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
}

@media only screen and (max-width: 78.5625em) {

    body.no-scroll {
        overflow: hidden;
    }
    .navbar-desktop {
        display: none;
    }

    .navbar-mobile {
        display: block;
    }

    .notification-popup {
        width: 40vw;
    }
}

@media only screen and (max-width: 46.1875em) {
    .notification-popup {
        width: 80vw;
    }
}

